@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat+Alternates:wght@100;400;800&display=swap');

/*

#D47A61 orange
#4C312D burnt red
#162021 black
#F3E1DA light pink
#713D39 red
*/
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #F3E1DA;
}


h1 {
    color: #713D39;
    font-family: 'Abril Fatface', cursive;
    font-size: 3em;
}

h2 {
    color: #D47A61;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-family: 'Abril Fatface', cursive;
}

p {
    color: #F3E1DA
}
#list-header button , .item-header-container button{
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #713D39;
    color:#F3E1DA;
    border: 5px solid #D47A61;
    margin: 20px;
}
#list-header button:hover, .item-header-container button:hover{
    background-color: #D47A61;
    color:#F3E1DA;
    border: 5px solid  #713D39
}
#list-header, .item-header-container {
    text-align: center;
    /* visibility: hidden;
    opacity: 0; */
    margin: 30px;
}
.item-header-container p{
    color:#4C312D
}
#lists-all-container,
#items-all-container {
    /* visibility: hidden;
    opacity: 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 100px;
    gap: 30px 30px;

}


.list-container:hover {
    background-color: #4C312D;
    border-radius: 8px;
}

.list-container,
.item-container {
    border-radius: 8px;
    background-color: #713D39;
    box-shadow: 0 0 15px 3px rgb(76, 49, 45, 0.5);
    padding: 20px;
    overflow: hidden;
}

/*
* FORM STYLE
*/
.modal-background-overlay {
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    background-color: rgb(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.form-popup {
    z-index: 20;
    background-color: #D47A61;
    padding: 30px;
    border-radius: 8px;
    color: #F3E1DA;
    /* box-shadow: 0px 0px 30px 30px rgb(0, 0, 0, 0.2); */
}
.form-popup h2 {
    color: #4C312D;
    margin-bottom: 20px;
    font-size: 2em;
}
.form-popup button {
    background-color: #4C312D;
    color: #F3E1DA;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
}
.form-popup button:hover {
    background-color: #713D39;
}
.active {
    visibility: visible !important;
    opacity: 1 !important;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
}

input {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #4C312D;
    font-family: 'Montserrat Alternates', sans-serif;
}